@model Album
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Album</h4>
<hr />

<script>
    function DeleteThisRoll(e){
    e.value = true
    $("#DeleteId").val('Create')
    $("#Deleteform").submit();
    }
</script>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="Deleteform">

            @Html.AntiForgeryToken()
            @{
                string DeleteId = "";
            }
            @Html.HiddenFor(model => DeleteId)
            @Html.EditorFor(model => model, "AlbumEdittor")

            <div class="mb-3">
                <button type="submit" name="actionType" value="AddSong" class="btn btn-secondary mb-3">Add Song</button>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Song name</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.EditorFor(model => model.Songs)
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary" formnovalidate>Cancel</a>
        </form>
    </div>
</div>